        <div class="px-2 w-100 d-flex border">
          <p class="m-0 small">{{name}}</p> 
          <p class="m-0 mx-auto small">Device ID: {{device}}</p> 
          <a href="/edit/{{id}}" class="edit-link m-0 small">Edit/Delete</a>
        </div>
       

