<div class="px-2 my-2 w-100 d-flex justify-content-between border">
          <p class="m-0 small">Time: {{timestamp}}</p> 
          {{!-- <p class="m-0 small">Location: {{device}}</p> 
          <p class="m-0 small">Temperature: {{device}}</p>  --}}
</div>