<div class="login">
  <h1 class="text-center title">TrakPath</h1>

  <div class="p-0 row justify-content-around">
    <div class="p-0 text-center w-50 mt-5">
          <form class="login-form text-center pt-5">
            <div class="mb-3">
              <input id="email-login" type="text" class="form-input w-75" placeholder="Email" />
            </div>

            <div>
              <input id="password-login" type="password" class="form-input w-75" placeholder="Password" />
            </div>

            <button type="submit" class="my-5 btn-login">Login</button>
          </form>
          <a class="link m-2" href="/sign-up">Sign Up Instead</a>
    </div>
  </div>
</div>

<script src="/javascript/login.js"></script>