<div class="card row p-0 w-50 mb-5">
    <form class="new-post-form">
      
      <div class="card-body text-center mt-4">
            <input type="number" id="device" name="device" class="form-control col m-2" placeholder="Device ID" />
            <button type="submit" class="btn btn-primary mt-3">Search</button>
      </div>

    </form>
</div>

<div class="reports"></div>


<script src="/javascript/reports.js"></script>