<div class="login">
  <h1 class="text-center title">TrakPath</h1>

  <div class="p-0 row justify-content-around">
    <div class="p-0 text-center w-50 mt-5">
          <form class="signup-form text-center">
            <div class="mb-3">
              <input id="username-signup" type="text" class="form-input w-75" placeholder="Username" />
            </div>

            <div class="mb-3">
              <input id="email-signup" type="text" class="form-input w-75" placeholder="Email" />
            </div>

            <div>
              <input id="password-signup" type="password" class="form-input w-75" placeholder="Password" />
            </div>

            <button type="submit" class="btn-login my-5">Signup</button>
          </form>
          <a class="link m-2" href="/login">Login Instead</a>
    </div>
  </div>
</div>

<script src="/javascript/signup.js"></script>