:root {
    --white: #f3f3f3;
    --black: #000000;
    --grey: #323232;
    --light-grey: #686868;
    --blue: #02a9e5;
}

#map { 
    height: 85vh;
    width: 100%;
    position: absolute;
    right: 0px;
    z-index: 0;
}

.title {
    font-size: 3.5em;
}

.login {
    margin-top: 27%;
}

.btn-login {
    background-color: #34b44f;
    border-radius: 5px;
    border-color: #34b44f;
    border-style: none;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0px 2px 5px #aaaaaa;
}

.report {
    font-size: small;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none !important;
}

.navbar {
    background-color: var(--blue);
}

header {
    background-color: var(--grey);
}

h1 {
    color: var(--blue);
}

nav a,
nav button {
    color: var(--white);
    background: none;
    border: none;
    font-weight: 500;
}

nav a:hover,
nav button:hover,
#logout:hover {
    color: var(--grey)
}

.logout {
    color: var(--white);
}

.blue {
    color: var(--blue)
}

.btn-blue {
    color: var(--white);
    background-color: var(--blue);
}