:root {
    --white: #f3f3f3;
    --black: #000000;
    --grey: #323232;
    --light-grey: #686868;
    --blue: #02a9e5;
}

#map { 
    height: 80vh;
    width: 100vw;
}

.report {
    font-size: small;
}

.container {
    width: 100vw;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none !important;
}

.navbar {
    background-color: var(--blue);
}

header {
    background-color: var(--grey);
}

h1 {
    color: var(--blue);
}

nav a,
nav button {
    color: var(--white);
    background: none;
    border: none;
    font-weight: 500;
}

nav a:hover,
nav button:hover,
#logout:hover {
    color: var(--grey)
}

.logout {
    color: var(--white);
}

.blue {
    color: var(--blue)
}

.btn-blue {
    color: var(--white);
    background-color: var(--blue);
}